@model ReelWorld.DataAccessLibrary.Model.Profile

@{
    ViewData["Title"] = "Oprettelse af profil";
}

<h1>Oprettelse af bruger</h1>

<h4>Bruger</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Navn</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label">Telefonnummer</label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label">Alder</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Relationship" class="control-label">Forhold</label>
                <select asp-for="Relationship" class="form-control" asp-items="Html.GetEnumSelectList<ReelWorld.DataAccessLibrary.Model.Profile.RelationshipStatus>()">
                    <option value="">-- Vælg Forhold --</option>
                </select>
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivelse af dig selv</label>
                <textarea asp-for="Description" class="form-control" cols="80" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Interesser</label><br />
                @foreach (var interest in new[] { "Football", "Cooking", "Reading", "Gaming", "Hiking", "Movies", "Music", "Travel", "Fitness", "Photography" })
                {
                    <label>
                        <input type="checkbox" name="Interests" value="@interest" /> @interest
                    </label>
                
                    <br />
                }
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label">By</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label">Land</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StreetName" class="control-label">Gadenavn</label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label">Vejnummer</label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ZipCode" class="control-label">Postnummer</label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HashPassword" class="control-label">Password</label>
                <input asp-for="HashPassword" class="form-control" type="password" />
                <span asp-validation-for="HashPassword" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Opret bruger" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" asp-controller="Home">Tilbage til forsiden</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
